$gray: #eceff3;
$backtalk: #f6f8f8;
$sidecolor: #4778c7;
$white: #ffffff;
$black: #000000;
$leftback: #4778c7;
$rightfont: #999999;
$titlecolor: #999999;
$fontcolor: #bbbbbb;
$topfont: #666666;
$linecolor: #e7e7e7;
$lighttext: #b6b6b6;
$shadowcolor: #dddfdf;
$bordcolor: #646464;
$cardcolor: #fdfdfd;
$logback: #365A93;
$warncolor: #ff444a;